/* ------------------ VAR ---------------- */
:root {
  /* ------------------ VAR ---------------- */
  --site-accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --btn-bg-hover: #188ce8;
  --logo-black-color: #000;
  --primary-bg-color: #2f303a;
  --footer-contacts-color: rgb(255 255 255/ 0.6);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --icon-color: #afb1b8;
  /* ------------------ OTHER ---------------- */
  --dur-time: 250ms;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* ------------------ LOGO ---------------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}

.logo__accent {
  color: var(--site-accent-color);
}

.footer__logo {
  color: var(--primary-white-color);
}

/* ------------------ BUTTON ---------------- */
.btn {
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--site-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color var(--dur-time) var(--bezier);
  transition: background-color var(--dur-time) var(--bezier);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-bg-hover);
}

/*  ----------------- BACKDROP, MODAL ----------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity var(--dur-time) var(--bezier);
  transition: opacity var(--dur-time) var(--bezier);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--dur-time) var(--bezier);
  transition: -webkit-transform var(--dur-time) var(--bezier);
  transition: transform var(--dur-time) var(--bezier);
  transition: transform var(--dur-time) var(--bezier), -webkit-transform var(--dur-time) var(--bezier);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.01);
          transform: translate(-50%, -50%) scale(0.01);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: top 8px, right 8px;
  background: inherit;
  outline: 0;
  cursor: pointer;
  -webkit-transition: border var(--dur-time) var(--bezier);
  transition: border var(--dur-time) var(--bezier);
}

.close-btn__icon {
  -webkit-transition: fill var(--dur-time) var(--bezier);
  transition: fill var(--dur-time) var(--bezier);
}

.close-btn:hover,
.close-btn:focus {
  border-color: var(--site-accent-color);
  fill: var(--site-accent-color);
}

/*  ----------------- MODAL FORM----------------- */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*  ----------------- inputs ---------------- */
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__input:focus {
  border-color: var(--site-accent-color);
}

.form__input-wrap:focus-within .form__icon {
  fill: var(--site-accent-color);
}

.form__text {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border var(--dur-time) var(--bezier);
  transition: border var(--dur-time) var(--bezier);
  outline: 0;
}

.form__text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text:focus {
  border-color: var(--site-accent-color);
}

/*  ----------------- checkbox ---------------- */
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox__icon {
  fill: var(--primary-white-color);
}

.checkbox__custom-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  outline: 0;
  -webkit-transition: background-color var(--dur-time) var(--bezier), border var(--dur-time) var(--bezier);
  transition: background-color var(--dur-time) var(--bezier), border var(--dur-time) var(--bezier);
}

.checkbox__input:focus + .checkbox__custom-input {
  border-color: var(--site-accent-color);
}

.checkbox__input:checked + .checkbox__custom-input {
  border: 0;
  background-color: var(--site-accent-color);
}

.form__btn {
  margin: 30px auto 0;
}

/* ------------------ HEADER ---------------- */
.page-header {
  border-bottom: 1px solid var(--border-color);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* -------Site nav------- */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 92px;
}

.site-nav__link {
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--dur-time) var(--bezier);
  transition: color var(--dur-time) var(--bezier);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--site-accent-color);
}

.site-nav__link--current {
  color: var(--site-accent-color);
}

.site-nav__item {
  position: relative;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--site-accent-color);
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow);
          box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 2px;
}

/* -------Header contacts------- */
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--dur-time) var(--bezier);
  transition: color var(--dur-time) var(--bezier);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--site-accent-color);
}

/* ----------------- HERO SECTION ----------------- */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.jpg);
  background-color: var(--primary-bg-color);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow);
          box-shadow: 0px 4px 4px var(--box-shadow);
}

.hero__heading {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* ----------------- FEATURES SECTION ----------------- */
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.features__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------- SERVICE SECTION ----------------- */
.service {
  padding-top: 0;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.service__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* ----------------- OUR TEAM SECTION ----------------- */
.team {
  background-color: var(--secondary-bg-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  -webkit-transition: background-color var(--dur-time) var(--bezier), fill var(--dur-time) var(--bezier);
  transition: background-color var(--dur-time) var(--bezier), fill var(--dur-time) var(--bezier);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--site-accent-color);
  fill: var(--primary-white-color);
}

/* ----------------- OUR CLIENTS SECTION ----------------- */
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: border-color var(--dur-time) var(--bezier), fill var(--dur-time) var(--bezier);
  transition: border-color var(--dur-time) var(--bezier), fill var(--dur-time) var(--bezier);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--site-accent-color);
  fill: var(--site-accent-color);
}

/* ------------------- FOOTER ------------------ */
.footer {
  padding: 60px 0;
  background-color: var(--primary-bg-color);
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* ---------- Adress & contacts -------- */
.footer__address-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  -webkit-transition: color var(--dur-time) var(--bezier);
  transition: color var(--dur-time) var(--bezier);
}

.address {
  color: var(--primary-white-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--site-accent-color);
}

/* --------- Social links -------- */
.footer-social {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg);
  fill: var(--primary-white-color);
  -webkit-transition: background-color var(--dur-time) var(--bezier);
  transition: background-color var(--dur-time) var(--bezier);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--site-accent-color);
}

/* ---------- Footer sign up form -------- */
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 0;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  background: var(--primary-bg-color);
  -webkit-transition: border var(--dur-time) var(--bezier);
  transition: border var(--dur-time) var(--bezier);
}

.footer-form__label {
  position: absolute;
  left: 16px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--dur-time) var(--bezier), -webkit-transform var(--dur-time) var(--bezier);
  transition: color var(--dur-time) var(--bezier), -webkit-transform var(--dur-time) var(--bezier);
  transition: transform var(--dur-time) var(--bezier), color var(--dur-time) var(--bezier);
  transition: transform var(--dur-time) var(--bezier), color var(--dur-time) var(--bezier), -webkit-transform var(--dur-time) var(--bezier);
}

.footer-form__input:focus {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.footer-form__input:not(:-moz-placeholder-shown) + .footer-form__label {
  transform: translate(-70px, 11px);
  color: var(--secondary-bg-color);
}

.footer-form__input:not(:-ms-input-placeholder) + .footer-form__label {
  transform: translate(-70px, 11px);
  color: var(--secondary-bg-color);
}

.footer-form__input:focus + .footer-form__label,
.footer-form__input:not(:placeholder-shown) + .footer-form__label {
  -webkit-transform: translate(-70px, 11px);
          transform: translate(-70px, 11px);
  color: var(--secondary-bg-color);
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__btn-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */