/* ------------------ VAR ---------------- */
:root {
  /* ------------------ VAR ---------------- */
  --site-accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --btn-bg-hover: #188ce8;
  --logo-black-color: #000;
  --primary-bg-color: #2f303a;
  --footer-contacts-color: rgb(255 255 255/ 0.6);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --icon-color: #afb1b8;
  /* ------------------ OTHER ---------------- */
  --dur-time: 250ms;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------ PRE STYLES ---------------- */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

/* ------------------ CONTAINER ---------------- */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

/* ------------------ LOGO ---------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}
.logo > span {
  color: var(--site-accent-color);
}
.footer .logo {
  color: var(--primary-white-color);
}

/* ------------------ HEADER ---------------- */
.header {
  border-bottom: 1px solid var(--border-color);
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 50px;
  margin-left: 92px;
}
.header-contacts-list {
  display: flex;
  gap: 50px;
}

.header-nav-link {
  display: block;
  transition: color var(--dur-time) var(--bezier);
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-contacts-link {
  display: inline-flex;
  transition: color var(--dur-time) var(--bezier);
  align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header .list .link:hover,
.header .list .link:focus {
  color: var(--site-accent-color);
}
.current {
  color: var(--site-accent-color);
}
.header-nav-item {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;

  background-color: var(--site-accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 2px;
}
/* ----------------- HERO SECTION ----------------- */
.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.jpg);
  background-color: var(--primary-bg-color);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.hero-heading {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.btn {
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--site-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--dur-time) var(--bezier);
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-bg-hover);
}
/* ----------------- FEATURES SECTION ----------------- */

.features-list {
  display: flex;
  gap: 30px;
}
.features-item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ----------------- SERVICE SECTION ----------------- */
.service-section {
  padding-top: 0;
}
.service-list {
  display: flex;
  gap: 30px;
}
.img-box {
  position: relative;
  overflow: hidden;
}
.service-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
/* ----------------- OUR TEAM SECTION ----------------- */
.team-section {
  background-color: var(--secondary-bg-color);
}
.teammate-list {
  display: flex;
  gap: 30px;
}
.teammate-item {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-content {
  padding: 30px 0;
}
.teammate-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.teammate-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.teammate-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.teammate-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color var(--dur-time) var(--bezier), fill var(--dur-time) var(--bezier);
}
.teammate-social-link:hover,
.teammate-social-link:focus {
  background-color: var(--site-accent-color);
  fill: var(--primary-white-color);
}

/* ----------------- OUR CLIENTS SECTION ----------------- */
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: border-color var(--dur-time) var(--bezier), fill var(--dur-time) var(--bezier);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--site-accent-color);
  fill: var(--site-accent-color);
}

/* ----------------- FOOTER ----------------- */
.footer {
  padding: 60px 0;
  background-color: var(--primary-bg-color);
}
.footer-contacts {
  margin-top: 20px;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition: color var(--dur-time) var(--bezier);
}
.address {
  color: var(--primary-white-color);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--site-accent-color);
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-address-wrap {
  flex-grow: 1;
}
.footer-social-wrap {
  margin-left: 70px;
  margin-right: 93px;
}
.footer-social-heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg);
  fill: var(--primary-white-color);
  transition: background-color var(--dur-time) var(--bezier);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--site-accent-color);
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 0;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  background: var(--primary-bg-color);
  transition: border var(--dur-time) var(--bezier);
}
/* .footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} */
.footer-form {
  display: flex;
  position: relative;
}
.footer-input-label {
  position: absolute;
  left: 16px;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: transform var(--dur-time) var(--bezier), color var(--dur-time) var(--bezier);
}
.footer-input:focus {
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.footer-input:focus + .footer-input-label,
.footer-input:not(:placeholder-shown) + .footer-input-label {
  transform: translate(-70px, 11px);
  color: var(--secondary-bg-color);
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn-icon {
  margin-left: 10px;
}

/*  ----------------- PORTFOLIO ----------------- */
/*  --------------- PORTFOLIO FILTERS ------------- */

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  transition: color var(--dur-time) var(--bezier), background-color var(--dur-time) var(--bezier),
    filter var(--dur-time) var(--bezier);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--btn-bg-hover);
  filter: drop-shadow(0px 4px 4px var(--box-shadow));
}
/*  ----------------- PORTFOLIO PROJECTS ----------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-content {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-link {
  display: inline-block;
  transition: box-shadow var(--dur-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--dur-time) var(--bezier);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
}
.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text {
  transform: translateY(0);
}

/*  ----------------- BACKDROP, MODAL ----------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity var(--dur-time) var(--bezier);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--dur-time) var(--bezier);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.01);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: top 8px, right 8px;
  background: inherit;
  outline: 0;
  cursor: pointer;

  transition: border var(--dur-time) var(--bezier);
}
.close-icon {
  transition: fill var(--dur-time) var(--bezier);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* .close-btn:hover,
.close-btn:focus {
  border-color: var(--site-accent-color);
} */
.close-btn:hover > .close-icon,
.close-btn:focus > .close-icon {
  fill: var(--site-accent-color);
}

/*  ----------------- MODAL FORM----------------- */
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}

/*  ----------------- inputs ---------------- */
.form-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input:focus {
  border-color: var(--site-accent-color);
}

.form-input-wrap:focus-within .form-icon {
  fill: var(--site-accent-color);
}

.form-text {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--dur-time) var(--bezier);
  outline: 0;
}
.form-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text:focus {
  border-color: var(--site-accent-color);
}

/*  ----------------- checkbox ---------------- */
.form-checkbox {
  appearance: none;
  position: absolute;
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.checkbox-icon {
  fill: var(--primary-white-color);
}
.checkbox-label span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  outline: 0;
  transition: background-color var(--dur-time) var(--bezier), border var(--dur-time) var(--bezier);
}
.form-checkbox:focus + span {
  border-color: var(--site-accent-color);
}

.form-checkbox:checked + span {
  border: 0;
  background-color: var(--site-accent-color);
}

.form-btn {
  margin: 30px auto 0;
}
