/*  ----------------- MODAL FORM----------------- */
.form {
  display: flex;
  flex-direction: column;

  /*  ----------------- inputs ---------------- */
  &__label {
    margin-bottom: 4px;
    @include fonts(400, 12, 14, 0.01);
    color: var(--primary-text-color);
  }
  &__input-wrap {
    position: relative;
    margin-bottom: 10px;
  }
  &__input {
    height: 40px;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 0;
    @include transition(border-color);
    &:focus {
      border-color: var(--site-accent-color);
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    @include transition(fill);
    .form__input-wrap:focus-within & {
      fill: var(--site-accent-color);
    }
  }

  &__text {
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    @include transition(border);
    outline: 0;

    &::placeholder {
      @include fonts(400, 12, 14, 0.01);
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--site-accent-color);
    }
  }
}
/*  ----------------- checkbox ---------------- */

.checkbox {
  @extend %flexed;
  @include fonts(400, 14, 24, 0.03);
  color: var(--primary-text-color);

  &__input {
    appearance: none;
    position: absolute;
  }
  &__icon {
    fill: var(--primary-white-color);
  }

  &__custom-input {
    @extend %flexed;

    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
    outline: 0;
    @include transition(background-color, border);

    .checkbox__input:focus + & {
      border-color: var(--site-accent-color);
    }
    .checkbox__input:checked + & {
      border: 0;
      background-color: var(--site-accent-color);
    }
  }
}
.form__btn {
  margin: 30px auto 0;
}
