.section-heading {
  @include fonts(700, 36, 42, 0.03);
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-text-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

.img-box {
  position: relative;
  overflow: hidden;
}
