body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
