/* ------------------- FOOTER ------------------ */

.footer {
  padding: 60px 0;
  background-color: var(--primary-bg-color);

  &__wrap {
    display: flex;
    align-items: baseline;
  }
  &__heading {
    margin-bottom: 20px;
    @include fonts(700, 14, 16, 0.03, uppercase);
    color: var(--primary-white-color);
  }
  &__address-wrap {
    flex-grow: 1;
  }
}
/* ---------- Adress & contacts -------- */

.footer-contacts {
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    font-style: normal;
    @include fonts(null, 14, 24, 0.03);
    color: var(--footer-contacts-color);
    @include transition(color);

    &:hover,
    &:focus {
      color: var(--site-accent-color);
    }
    &--white {
      color: var(--primary-white-color);
    }
  }
}

/* --------- Social links -------- */

.footer-social {
  margin-left: 70px;
  margin-right: 93px;

  &__list {
    display: flex;
    gap: 10px;
  }
  &__link {
    @extend %flexed;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-icon-bg);
    fill: var(--primary-white-color);
    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: var(--site-accent-color);
    }
  }
}

/* ---------- Footer sign up form -------- */

.footer-form {
  display: flex;
  position: relative;

  &__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-right: 0;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);
    background: var(--primary-bg-color);
    @include transition(border);

    &:focus {
      border: 2px solid rgba(255, 255, 255, 0.6);
    }
  }

  &__label {
    position: absolute;
    left: 16px;
    bottom: 50%;
    transform: translateY(50%);
    @include fonts(null, 16, 20, 0.03);
    color: rgba(255, 255, 255, 0.6);
    @include transition(transform, color);

    .footer-form__input:focus + &,
    .footer-form__input:not(:placeholder-shown) + & {
      transform: translate(-70px, 11px);
      color: var(--secondary-bg-color);
    }
  }
  &__btn {
    @extend %flexed;
  }

  &__btn-icon {
    margin-left: 10px;
  }
}
