/* ------------------ HEADER ---------------- */

.page-header {
  border-bottom: 1px solid var(--border-color);

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

/* -------Site nav------- */

.site-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 50px;
    margin-left: 92px;
  }
  &__link {
    display: block;
    padding: 32px 0px;
    @include fonts(500, 14, 16, 0.02);
    color: var(--secondary-text-color);
    @include transition(color);

    &:hover,
    &:focus {
      color: var(--site-accent-color);
    }
  }
  &__link--current {
    color: var(--site-accent-color);
  }
  &__item {
    position: relative;
  }
  &__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;

    background-color: var(--site-accent-color);
    box-shadow: 0px 4px 4px var(--box-shadow);
    border-radius: 2px;
  }
}
/* -------Header contacts------- */

.header-contacts {
  display: flex;
  gap: 50px;

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 32px 0px;

    @include fonts(500, 14, 16, 0.02);
    color: var(--primary-text-color);
    @include transition(color);
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  &__link:hover,
  &__link:focus {
    color: var(--site-accent-color);
  }
}
