/*  ------------- PORTFOLIO FILTERS ------------- */

.portfolio__filter {
  @extend %flexed;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  @include fonts(500, 16, 26, 0.03);
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  cursor: pointer;
  @include transition(color, background-color, filter);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--btn-bg-hover);
    filter: drop-shadow(0px 4px 4px var(--box-shadow));
  }
}
