/* ------------------ VAR ---------------- */
:root {
  /* ------------------ VAR ---------------- */
  --site-accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --btn-bg-hover: #188ce8;
  --logo-black-color: #000;
  --primary-bg-color: #2f303a;
  --footer-contacts-color: rgb(255 255 255/ 0.6);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --icon-color: #afb1b8;
  /* ------------------ OTHER ---------------- */
  --dur-time: 250ms;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
