/* ----------------- FEATURES SECTION ----------------- */

.features {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 57px 30px;
  }

  &__item {
    &:not(:last-child) {
      @include mq(mob-only) {
        margin-bottom: 30px;
      }
    }
    @include mq(tab-only) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include mq(desk) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
  &__icon-wrap {
    @extend %flexed;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
  }
  &__title {
    margin-bottom: 10px;
    @include fonts(700, 14, 16, 0.03, uppercase);
    color: var(--secondary-text-color);

    @include mq(mob-only) {
      text-align: center;
    }
  }
  &__text {
    @include fonts(null, 14, 24, 0.03);
  }
}
