/* ----------------- FEATURES SECTION ----------------- */

.features__list {
  display: flex;
  gap: 30px;
}
.features__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
