/* ------------------- FOOTER ------------------ */

.footer {
  padding: 60px 0;
  background-color: var(--primary-bg-color);

  &__wrap {
    @include mq(tab) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }
    @include mq(desk) {
      justify-content: space-between;
    }
  }

  &__heading {
    margin-bottom: 20px;
    @include fonts(700, 14, 16, 0.03, uppercase);
    text-align: center;
    color: var(--primary-white-color);

    @include mq(desk) {
      text-align: start;
    }
  }

  &__address-wrap {
    text-align: center;

    @include mq(desk) {
      text-align: start;
    }
  }
}
/* ---------- Adress & contacts -------- */

.footer-contacts {
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    font-style: normal;
    @include fonts(null, 14, 24, 0.03);
    color: var(--footer-contacts-color);
    @include transition(color);

    &:hover,
    &:focus {
      color: var(--site-accent-color);
    }
    &--white {
      color: var(--primary-white-color);
    }
  }
}

/* --------- Social links -------- */

.footer-social {
  @include mq(pre-tab) {
    margin: 60px auto;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__link {
    @extend %flexed;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-icon-bg);
    fill: var(--primary-white-color);
    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: var(--site-accent-color);
    }
  }
}

/* ---------- Footer sign up form -------- */

.footer-form {
  $this: &;

  @include mq(desk) {
    display: flex;
    gap: 10px;
  }

  &__wrap {
    @include mq(tab-only) {
      margin-top: 60px;
    }
  }

  &__input-container {
    position: relative;
    width: 100%;

    @include mq(mob) {
      width: 450px;
    }

    @include mq(desk) {
      width: 358px;
    }
  }

  &__input {
    height: 50px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);
    background: var(--primary-bg-color);
    @include transition(border);

    &:focus {
      border: 2px solid rgba(255, 255, 255, 0.6);
    }

    @include mq(pre-mob) {
      width: 100%;
    }
    @include mq(mob) {
      width: 450px;
    }
    @include mq(desk) {
      width: 358px;
    }
  }

  &__label {
    position: absolute;
    left: 15px;
    top: 15px;
    @include fonts(null, 16, 20, 0.03);
    color: rgba(255, 255, 255, 0.6);
    @include transition(transform, color);

    #{$this}__input:focus + &,
    #{$this}__input:not(:placeholder-shown) + & {
      transform: translate(-15px, -36px);
      color: var(--secondary-bg-color);

      @include mq(pre-mob) {
        transform: translate(-16px, -36px) scale(0.9);
      }
      @include mq(tab) {
        transform: translateX(-70px);
      }
    }
  }
  &__btn {
    @extend %flexed;

    @include mq(not-desk) {
      margin: 20px auto 0;
    }
  }

  &__btn-icon {
    margin-left: 10px;
  }
}
