/* ----------------- HERO SECTION ----------------- */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.jpg);
  background-color: var(--primary-bg-color);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px var(--box-shadow);

  &__heading {
    width: 696px;
    margin: 0 auto 30px;
    @include fonts(900, 44, 60, 0.06, uppercase);
    color: var(--primary-white-color);
  }
}
