/*  ----------------- PORTFOLIO PROJECTS ----------------- */
.portfolio {
  &__list {
    @include mq(tab) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__card-content {
    padding: 20px 24px;
    border: 1px solid var(--border-color);
    border-top: none;
    flex-grow: 1;
  }
  &__item {
    @include mq(pre-tab) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include mq(tab) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include mq(desk) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include transition(box-shadow);
  }
  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__name {
    margin-bottom: 4px;
    @include fonts(700, 18, 36, 0.06);
    color: var(--secondary-text-color);
  }
  &__type {
    @include fonts(null, 16, 30, 0.03);
    color: var(--primary-text-color);
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;

    @include fonts(null, 18, 28, 0.03);
    transform: translateY(101%);
    @include transition(transform);

    color: var(--primary-white-color);
    background: rgba(33, 150, 243, 0.9);
  }
  &__link:hover &__text,
  &__link:focus &__text {
    transform: translateY(0);
  }
}
